<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="powerplant Machine-Wide Installer" Language="1033" Version="!(bind.FileVersion.powerplant.exe)" UpgradeCode="fb68649a-3b47-5d34-8c8f-2292ec00251e" Manufacturer="Rahul Seetharaman">

    <Package Description="#Description" Comments="Comments" InstallerVersion="200" Compressed="yes"/>
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

    <PropertyRef Id="NETFRAMEWORK45" />

    <Condition Message="This application requires .NET Framework 4.5 or higher. Please install the latest .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="powerplant Installer" />
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="powerplant.exe" Guid="5e60e100-9550-52a6-ace7-b37d7e188912">
        <File Id="powerplant.exe" Name="powerplant.exe" Source="./Setup.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="3f4fb154-b095-56b4-a1e8-3163521bcd8f">
        <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="expandable" Name="powerplantMachineInstaller" Value="%ProgramFiles%\powerplant Installer\powerplant.exe --checkInstall" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="powerplant.exe" />
      <ComponentRef Id="RegistryEntries" />
    </Feature>
  </Product>
</Wix>

